.task{
    list-style: none;
    color: black;
    text-shadow: gray 2px 1px;
}

h2{
    color: #303030ff;
    text-shadow: black 1px 1px;
}

.complete{
    text-decoration: line-through 5px whitesmoke;
}

.backColorRed{
    background-color: rgb(211,51,34);
    background: linear-gradient(15deg, rgba(195,108,34,1) 0%, rgba(253,45,45,1) 100%);
}


.backColorYellow {
    background-color: rgb(195, 108, 34);
    background: linear-gradient(205deg, rgba(195, 108, 34, 1) 0%, rgba(250, 253, 45, 1) 100%);
}

.backColorGreen{
    background-color: rgb(34,195,92);
    background: linear-gradient(45deg, rgba(34,195,92,1) 0%, rgba(58,253,45,1) 100%);
}