body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  color: white;
  text-decoration: none;
  padding: .5em 1em calc(.5em + 3px);
  border-radius: 4px;
  background: rgb(30,25,25);
  box-shadow: 0 -3px rgb(50,60,60) inset;
  transition: 0.2s;
}
button:hover { background: rgb(100, 100, 110); }
button:active {
  background: rgb(33,47,90);
  box-shadow: 0 3px rgb(33,47,90) inset;
}
